{% extends 'mysite/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid my-4 bg-transparent">
        <div class="container text-center">
            <h1 class="display-4">What are we about?</h1>
            <p class="lead">Learn Python by building projects.</p>
            <hr class="my-4">
            <p>Django, Networking, Website Scraping with Scrapy and Game Development.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid my-4">
        <div class="container">
            <h3 class="display-4 text-center">Learning Paths</h3>
            <div class="card-deck" style="margin-top: 5%">
                <div class="card">
                    <img src="https://img-a.udemycdn.com/course/750x422/1807684_f1d2_13.jpg" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <p class="card-text">Get an introduction to the programming skills needed for a career as a
                            software developer. It introduces common tools and the bigger picture of how development
                            careers work.</p>

                        <a href="#" class="btn btn-primary">Explore Path</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://img-b.udemycdn.com/course/750x422/1924864_ac98_2.jpg" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Build websites and find out how Python and Django can help you with that.
                            Includes HTML, CSS and Javascript</p>
                        <a href="#" class="btn btn-primary">Explore Path</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://img-a.udemycdn.com/course/750x422/2621544_cc3b_3.jpg" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Game Developer</h5>
                        <p class="card-text"> This Beginner friendly path introduces you to game development using python.
                            You will also learn game mechanics, movement and graphics.</p>
                        <a href="#" class="btn btn-primary">Explore Path</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://img-a.udemycdn.com/course/750x422/2043224_1c59_3.jpg" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Professional</h5>
                        <p class="card-text">This is a wild card python path which lets you explore fields that not a lot of people do. Includes Networking and Website Scraping</p>
                        <a href="#" class="btn btn-primary">Explore Path</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}