{% extends 'mysite/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid my-4 bg-transparent">
        <div class="container">
            <h1 class="display-4">What we are about?</h1>
            <p class="lead">Learn Python by building projects.</p>
            <hr class="my-4">
            <p>Django, Networking, Website Scraping with Scrapy and Game Development.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
{% endblock %}