{% extends 'mysite/base.html' %}
{% load humanize %}

{% block content %}



    <style>
        .dot {
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            font-size: 25px;
            color: #fff;
            text-align: center;
            background: #D3D3D3;
        }
    </style>

    <div class="container my-4">
        <div class="row">
            <div class="col-md-4">
                <!-- Accordion -->
                {% include 'mysite/lesson_templates/accordion_lesson.html' %}
            </div>
            <div class="col-md-8 mx-auto">
                {% if user.student.subscribed or current_lesson.preview == 'yes' %}
                    <h2>{{ current_lesson.title }}</h2>
                    <video width="720" height="420" controls controlsList="nodownload">
                        <source src="{{ current_lesson.video_url }}">
                    </video>
                {% else %}
                    Please Enroll/Signup to watch the videos
                {% endif %}


            </div>
        </div>

        <!-- Comment Forms-->

        <div class="row my-5">

            <div class="col-md-12 mx-auto">
                <hr/>
                <h1 class="my-4 text-center">Discussion</h1>

                <!-- Comment form with Modal-->
                {% include 'mysite/lesson_templates/comment_form.html' %}


                <!-- Displaying Comments and Replies -->

                <div class="col-md-7">
                    {% for comment in comments %}
                        <div class="media my-4">
                            <span class="dot mr-3">{{ comment.user_given.username.0|title }}</span>

                            <div class="media-body">
                                <h5 class="media-heading"><span
                                        class="text-primary">{{ comment.user_given.username }}</span>
                                    <small><i>{{ comment.timestamp|naturaltime }}</i></small></h5>
                                <p>{{ comment.content }}</p>
                                <p>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#replyModal-{{ comment.id }}">
                                        Reply
                                    </button>
                                </p>
                            </div>
                        </div>

                        {% for reply in replies %}
                            {% if reply.comment_on == comment %}
                                <div class="media my-4 mx-5">
                                    <span class="dot mr-3">{{ reply.user_given.username.0|title }}</span>

                                    <div class="media-body">
                                        <h5 class="media-heading"><span
                                                class="text-primary">{{ reply.user_given.username }}</span>
                                            <small><i>{{ reply.timestamp|naturaltime }}</i></small></h5>
                                        <p>{{ reply.reply_content }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <hr/>

                        <!-- Reply form with Modal-->
                        {% include 'mysite/lesson_templates/reply_form.html' %}

                    {% endfor %}
                </div>
            </div>


            <!-- Comment system row ends -->
        </div>

        <!-- container close -->
    </div>



{% endblock %}