{% extends 'mysite/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="jumbotron jumbotron-fluid bg-transparent">
                    <div class="container text-center">
                        <h1 class="display-4">Subscribe to Premium Packages</h1>
                        <p class="lead">ENJOY PREMIUM CONTENT AT AFFORDABLE PRICE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-auto text-center">
                <div class="card">
                    <h5 class="card-header">Developer</h5>
                    <div class="card-body text-center">
                        <h5 class="card-title">$10 | &#8377;697 / month</h5>
                        <ul style="list-style-type: none;margin-left: -10%">
                            <li>
                                HD Video Quality
                            </li>
                            <li>
                                Access to all courses
                            </li>
                            <li>
                                Error Support
                            </li>
                            <li>
                                Members only community
                            </li>
                            <li>
                                No Advertisements
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary mx-auto">Get Started</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}